/* Defining my base colors */

:root {
    --primary-color: #a1b6bb;
    --secondary-color: #2f3131;
    --tertiary-color: #e1f3f5;
}

/* Defining body styling */
body {
    background-color: var(--secondary-color);
    font-family: Helvetica, Arial, sans-serif;
    color:var(--primary-color);
}

/* Defining Header Styles */
header {
background-color: var(--primary-color);
color: var(--secondary-color);
}

/* Defining Hero Styles */
.hero {
    background-image: url('../images/hero_background.jpg');
    color: var(--secondary-color);
}

/* Defining Content Styles */
content {

    background-color: var(--tertiary-color);

}

/* Defining Footer Styles */
footer {

    background-color: var(--secondary-color);

}